<a href="https://colab.research.google.com/github/easttwo2/data_analysis/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 주어진 숫자 n이 양수인지, 음수인지, 또는 0인지 판단해서 출력하세요.

n = int(input("숫자를 입력하세요: "))

if n > 0:
  print("양수")
elif n == 0:
  print('0')

else:
  print('음수')

숫자를 입력하세요: -6
음수

In [ ]:
# 주어진 숫자 n이 짝수인지 홀수인지 출력하세요.

n = int(input("숫자를 입력하세요: "))

if (n % 2) == 0:
  print('짝수')

else:
  print('홀수')

숫자를 입력하세요: 7
홀수

In [ ]:
# 두 수 a, b를 비교하여 큰 수를 출력하세요.

a = float(input("a를 입력하세요: "))
b = float(input("b를 입력하세요: "))


if a > b:
  print(a)

elif a == b:
  pirnt('=')

else:
  print(b)

a를 입력하세요: 5
b를 입력하세요: 8
8.0

In [ ]:
# 학생의 점수 score를 입력받아 90 이상 A, 80 이상 B, 70 이상 C, 60 이상 D, 나머지 F를 출력하세요.

score = int(input("점수를 입력하세요 (0~100): "))

if score >= 90:
  print('A')

elif score < 90 and score >= 80:
  print('b')

elif score < 80 and score >= 70:
  print('c')

elif score < 70 and score >= 60:
  print('d')

else:
  print('f')

점수를 입력하세요 (0~100): 4
f

In [ ]:
# 리스트 nums = [12, 5, 8, 130, 44]에서 10보다 큰 수만 골라 새 리스트에 담아 출력하세요.

nums = [12, 5, 8, 130, 44]
big = []


for i in nums:

  if i > 10:

    big.append(i)

print(big)

[12, 130, 44]

In [ ]:
#1부터 5까지 숫자를 출력하세요.

for i in range(1,6):

  print(i)

1
2
3
4
5

In [ ]:
# 리스트 [1, 2, 3, 4, 5]의 각 요소를 출력하세요.

a = [1,2,3,4,5]

for i in a:

  print(i)

1
2
3
4
5

In [ ]:
# 리스트 [2, 4, 6, 8, 10]에 들어있는 수들의 합계를 구해 출력하세요.

nums = [2, 4, 6, 8, 10]

total = 0

for i in nums:



  total += i



print(total)

30

In [ ]:
# 1부터 10까지 숫자 중에서 짝수만 출력하세요.

for i in range(1,11):

  if i % 2 == 0:

    print(i)

2
4
6
8
10

In [ ]:
# 두 수의 합
# 함수명: add(a, b)
# 설명: 두 개의 숫자 a, b를 받아서 더한 결과를 반환하세요.

def add(a,b):

  q = a + b

  return q


add(1,30)

31

In [ ]:
#제곱 함수

#함수명: square(n)

#설명: 정수 n을 입력받아 n의 제곱(n * n)을 반환하는 함수를 작성하세요.


def square(n):

  a = n**n

  return a

square(3)

27

In [ ]:
#짝수 판별 함수

#함수명: is_even(n)

#설명: 정수 n을 입력받아 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.

def is_even(n):

  if n % 2 == 0:
    print("true")

  else:
    print("false")

  return n


n = int(input("n을 입력하세요"))
is_even(n)

n을 입력하세요7
false

7

In [ ]:
#인사 출력 함수

#함수명: greet(name)

#설명: 문자열 name을 입력받아 "Hello, {name}!" 형식으로 인사를 출력하는(프린트하는) 함수를 작성하세요.

def greet(name):

  print(f"hello, {name}!")






name = str(input("이름을 입력하세요"))

greet(name)

이름을 입력하세요동건
hello, 동건!

In [ ]:
#팩토리얼 함수

#함수명: factorial(n)

#설명: 자연수 n을 입력받아 n!(팩토리얼)을 반복문을 사용해 계산하여 반환하는 함수를 작성하세요.

def factorial(n):

  total = 1

  for i in range(1,n+1):



    total *= i

  return total


n = int(input("숫자를 입력하세요"))

factorial(n)

숫자를 입력하세요4

24

In [ ]:
# 양수·음수 개수 세기
# 정수 리스트 nums를 받아 양수와 음수의 개수를 튜플
#(pos_count, neg_count)로 반환하는 함수 count_pos_neg(nums)를 작성하세요.
# (0은 양수·음수 둘 다 아님)
# count_pos_neg([10, -5, 0, 3, -1, 7, -8])

def count_pos_neg(nums):

  a = 0
  b = 0

  for i in nums:

    if i > 0:

      a += 1

    elif i == 0:

      continue

    else:

      b += 1

  return a, b

count_pos_neg([10, -5, 0, 3, -1, 7, -8])

(3, 3)

In [ ]:
#문제:
#1부터 10까지 숫자를 순회할 때, 숫자가 5일 때만 출력을 건너뛰고
#나머지는 모두 출력하는 코드를 작성하세요.

for i in range(11):

  if i == 5:

    break

  else:

    print(i)

0
1
2
3
4

In [ ]:
# 3. 합격 점수 필터링
# 시험 점수 리스트 scores를 받아,
#60점 이상인 합격 점수만 모아 새 리스트를 반환하는 함수 filter_pass(scores)를 작성하세요.



def filter_pass(score):

  lst = []

  for i in score:

    if i >= 60:

      lst.append(i)

    else:

      continue


  return lst



score = [55, 67, 49, 90, 60]

filter_pass(score)

[67, 90, 60]

In [ ]:
# 4. 학점 매기기
# 점수 리스트 scores를 받아, 각 점수에 대응하는 학점(A/B/C/D/F)을
# 튜플 (score, grade) 형태로 모아 반환하는 함수 assign_grades(scores)를 작성하세요.
# 90점 이상: A
# 80점 이상: B
# 70점 이상: C
# 60점 이상: D
# 그 외: F


def assign_grades(scores):

  lst = []

  for i in scores:

    if i >= 90:

      grade = "a"

    elif i >= 80:

      grade = "b"

    elif i >= 70:

      grade = "c"

    elif i >= 60:

      grade = "d"

    else:

      grade = "f"


    lst.append((i, grade))

  return lst

for score, grd in assign_grades([95, 82, 74, 61, 50]):
    print(f"{score}점 → {grd}")

95점 → a
82점 → b
74점 → c
61점 → d
50점 → f

In [ ]:
# 5. 특정 길이 이상 문자열 필터링
# 문자열 리스트 words와 정수 min_len을 받아, 글자 수가 min_len 이상인
#단어만 모아 새 리스트로 반환하는 함수 filter_long_strings(words, min_len)를 작성하세요


def filter_long_strings(words, min_len):

  lst = []

  for i in words:
    if len(i) >= min_len:

      lst.append(i)

    else:
      continue

  return lst


filter_long_strings(["apple", "banana", "kiwi", "cherry", "fig"],6)

['banana', 'cherry']

In [ ]:
# 문제 1. Person 클래스 구현
# 요구사항
# 속성: name (이름), age (나이)
# 메서드: introduce()
# 출력 예시:


class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

person = Person("go", 13)

print(person)

print(person.name)
print(person.age)

<__main__.Person object at 0x7ee7f4afa350>
go
13

In [ ]:
# 4. 학점 매기기
# 점수 리스트 scores를 받아, 각 점수에 대응하는 학점(A/B/C/D/F)을 튜플 (score, grade) 형태로 모아 반환하는 함수 assign_grades(scores)를 작성하세요.
# 90점 이상: A
# 80점 이상: B
# 70점 이상: C
# 60점 이상: D
# 그 외: F
# 예시



def assign_grades(scores):

  lst = []

  for i in scores:

    if i >= 90:

      grade = 'A'

    if i >= 80:

      grade = 'B'

    if i >= 70:

      grade = 'C'

    if i >= 60:

      grade = 'D'

    if i >= 50:

      grade = 'F'

    lst.append((i, grade))

  return lst



for score, grd in assign_grades([95, 82, 74, 61, 50]):
    print(f"{score}점 → {grd}")

95점 → F
82점 → F
74점 → F
61점 → F
50점 → F

In [ ]:
# 5. 특정 길이 이상 문자열 필터링
# 문자열 리스트 words와 정수 min_len을 받아, 글자 수가 min_len 이상인 단어만 모아
# 새 리스트로 반환하는 함수 filter_long_strings(words, min_len)를 작성하세요.


def filter_long_strings(words, min_len):

  lst = []

  for i in words:

    if len(i) >= min_len:

      lst.append(i)

    else:
      continue

  return(lst)
fruits = ["apple", "banana", "kiwi", "cherry", "fig"]

print(filter_long_strings(fruits, 4))




# 예시
fruits = ["apple", "banana", "kiwi", "cherry", "fig"]
print(filter_long_strings(fruits, 5))
# 출력: ['apple', 'banana', 'cherry']
print(filter_long_strings(fruits, 4))
# 출력: ['apple', 'kiwi', 'cherry']

['apple', 'banana', 'kiwi', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'kiwi', 'cherry']

In [ ]:
#Rectangle 클래스 구현
#요구사항

#속성: width (가로 길이), height (세로 길이)

#메서드:

#area() : 면적 반환
#perimeter() : 둘레(=2*(width+height)) 반환


class Rectangle:
  def __init__(self, width, height):

    self.width = width
    self.height = height

  def area(self):

    return self.width * self.height

  def perimeter(self):

    return 2 * (self.width + self.height )


rectangle = Rectangle(9,8)

print(rectangle.area())
print(rectangle.perimeter())

72
34

In [ ]:
# 문제 3. Circle 클래스 구현
# 요구사항
#
# 속성: radius (반지름)
#
# 메서드:
#
# area() : 원의 넓이(πr²) 반환
#
# circumference() : 원의 둘레(2πr) 반환
#
# 힌트: import math 후 math.pi 사용

import math

class Circle:
  def __init__(self, radius):

    self.radius = radius

  def area(self):

    return math.pi * (self.radius ** 2)

  def circumference(self):

    return 2 * math.pi * self.radius

circle = Circle(4)

print(circle.area())

print(circle.circumference())

50.26548245743669
25.132741228718345

In [ ]:
# 문제 4. Student 클래스 구현
# 요구사항
#
# 속성: name (이름), scores (점수 리스트)
#
# 메서드:
#
# average_score() : 평균 점수 반환
#
# print_result() :
#
# 평균이 60 이상이면 "합격", 아니면 "불합격" 출력

class Student:
  def __init__(self, name, scores):

    self.name = name
    self.scores = scores

  def average_score(self):
    return sum(self.scores) / len(self.scores)

  def print_result(self):

    avg = self.average_score()

    if avg >= 60:

      print(f"{self.name} 학생의 평균 점수는 {avg:.1f}점입니다.")

    else:

      print(f"{self.name} 학생의 평균 점수는 {avg:.1f}점입니다.")

s1 = Student("김영희", [80, 75, 90])
s2 = Student("이철수", [50, 40, 60])

s1.print_result()
s2.print_result()

김영희 학생의 평균 점수는 81.7점입니다.
이철수 학생의 평균 점수는 50.0점입니다.